<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62368028404-0mbfgt826t3u6toatl1fvr9qkvbvkmae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62368028404-0mbfgt826t3u6toatl1fvr9qkvbvkmae</string>
	<key>API_KEY</key>
	<string>AIzaSyBbCj-AP7gAB2MGYVJqsIFxJMm0uYXDEEc</string>
	<key>GCM_SENDER_ID</key>
	<string>62368028404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testapp</string>
	<key>PROJECT_ID</key>
	<string>moviez-6526e</string>
	<key>STORAGE_BUCKET</key>
	<string>moviez-6526e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62368028404:ios:b654ea5e670713134070a1</string>
</dict>
</plist>